@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::after,
*::before {
  font-family: "Josefin Sans", sans-serif;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;
  background-color: #eee;
  display: grid;
  place-content: center;
}
